* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

body {
  background-color: #121220;
  color: white; }

h1 {
  text-align: center; }

html {
  font-family: 'Poppins', sans-serif; }

.toast-container {
  position: fixed;
  top: 100px;
  right: 30px;
  z-index: 1;
  z-index: 100000000000000; }
  @media (max-width: 480px) {
    .toast-container {
      right: 20px; } }

.toast {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 12px 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px #ccc;
  z-index: 10000000000000;
  /* min-width: 300px; */
  width: 350px;
  background-color: white;
  transition: all linear 0.3s; }
  @media (max-width: 480px) {
    .toast {
      width: 230px;
      padding: 8px; } }

.toast + .toast {
  margin-top: 30px; }

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 40px)); }
  to {
    opacity: 1;
    transform: 0; } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

.toast__content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 40px; }
  @media (max-width: 480px) {
    .toast__content {
      padding: 0; } }

.toast__header {
  padding-bottom: 5px;
  color: black; }
  @media (max-width: 480px) {
    .toast__header {
      font-size: 13px;
      padding-bottom: 2px; } }

.toast__ders {
  color: #96979b; }
  @media (max-width: 480px) {
    .toast__ders {
      font-size: 12px; } }

.toast__icon {
  font-size: 30px; }
  @media (max-width: 480px) {
    .toast__icon {
      font-size: 20px;
      padding-right: 8px; } }

.toast__icon-close {
  color: #ccc;
  font-size: 25px;
  cursor: pointer; }
  @media (max-width: 480px) {
    .toast__icon-close {
      font-size: 20px;
      padding-right: 0px; } }

/* toast--success */
.toast--success {
  border-left: 5px solid #2dbb2d; }

.toast__icon-success {
  color: #2dbb2d; }

/* toast warn */
.toast--warn {
  border-left: 5px solid orange; }

.toast__icon-warn {
  color: orange; }

/* toast__info */
.toast--info {
  border-left: 5px solid #2f86eb; }

.toast__icon-info {
  color: #2f86eb; }

.main {
  display: none;
  padding: 30px 40px; }
  @media (max-width: 480px) {
    .main {
      padding: 6px; } }

.opacity {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/img/iot_2.webp");
  opacity: 0.5;
  /* Center the image */
  background-position: left;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.logo_iuh {
  width: 200px;
  margin: 0 auto;
  z-index: 3; }

.register_form {
  display: none; }
  .register_form .container {
    position: relative;
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 1px solid white;
    padding: 20px 0px !important;
    width: 450px !important;
    margin: 0 auto; }
  .register_form .row {
    padding: 0 30px; }
  .register_form input[type='submit'] {
    margin-right: 0px !important; }
  @media (max-width: 480px) {
    .register_form {
      /* hide the vertical line */ }
      .register_form .loggin_title {
        font-size: 20px !important; }
      .register_form .container {
        width: 350px !important; }
      .register_form .col {
        width: 100%;
        margin-top: 0;
        padding: 0 10px; }
      .register_form .vl {
        display: none; } }

.login_form,
.register_form {
  z-index: 2;
  /* style the container */
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  /* style inputs and link buttons */
  /* add appropriate colors to fb, twitter and google buttons */
  /* style the submit button */
  /* Clear floats after the columns */
  /* vertical line */
  /* text inside the vertical line */
  /* hide some text on medium and large screens */
  /* bottom container */ }
  .login_form .btn_create_account,
  .register_form .btn_create_account {
    margin: 0 !important; }
  .login_form .loggin_title,
  .register_form .loggin_title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 30px; }
  .login_form .container,
  .register_form .container {
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 20px 0 30px 0;
    width: 550px;
    margin: 0 auto; }
  .login_form input,
  .login_form .btn,
  .register_form input,
  .register_form .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* remove underline from anchors */ }
  .login_form input:hover,
  .login_form .btn:hover,
  .register_form input:hover,
  .register_form .btn:hover {
    opacity: 1; }
  .login_form .fb,
  .register_form .fb {
    background-color: #3b5998;
    color: white;
    margin-right: 5px; }
  .login_form .google,
  .register_form .google {
    background-color: #dd4b39;
    color: white;
    margin-left: 5px; }
  .login_form .button_group,
  .register_form .button_group {
    display: flex; }
  .login_form input[type='button'],
  .register_form input[type='button'] {
    background-color: #04aa6d;
    color: white;
    cursor: pointer; }
  .login_form input[type='button']:nth-child(1),
  .register_form input[type='button']:nth-child(1) {
    margin-right: 5px; }
  .login_form input[type='button']:nth-child(2),
  .register_form input[type='button']:nth-child(2) {
    margin-left: 5px; }
  .login_form input[type='button']:hover,
  .register_form input[type='button']:hover {
    background-color: #45a049; }
  .login_form .col,
  .register_form .col {
    float: left;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    margin-top: 6px; }
  .login_form .row:after,
  .register_form .row:after {
    content: '';
    display: table;
    clear: both; }
  .login_form .vl,
  .register_form .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 185px;
    top: 30%; }
  .login_form .vl-innertext,
  .register_form .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #b8500f;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 12px 14px;
    font-weight: bold; }
  .login_form .hide-md-lg,
  .register_form .hide-md-lg {
    text-align: center; }
  .login_form .btn_social_loggin,
  .register_form .btn_social_loggin {
    display: flex; }
  .login_form .bottom-container,
  .register_form .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px; }
  @media (max-width: 480px) {
    .login_form,
    .register_form {
      /* hide the vertical line */
      /* show the hidden text on small screens */ }
      .login_form .loggin_title,
      .register_form .loggin_title {
        font-size: 20px; }
      .login_form .container,
      .register_form .container {
        padding: 20px 0;
        width: 350px; }
      .login_form .col,
      .register_form .col {
        width: 100%;
        margin-top: 0;
        padding: 0 10px; }
      .login_form .vl,
      .register_form .vl {
        display: none; }
      .login_form .hide-md-lg,
      .register_form .hide-md-lg {
        display: block;
        text-align: center; }
      .login_form .btn_social_loggin,
      .register_form .btn_social_loggin {
        display: block; }
      .login_form .fb,
      .register_form .fb {
        background-color: #3b5998;
        color: white;
        margin-right: 0px; }
      .login_form .google,
      .register_form .google {
        background-color: #dd4b39;
        color: white;
        margin-left: 0px; } }

.highcharts-credits {
  display: none; }

.header {
  background-color: #8290b0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -5px -5px 12px #232239, 6px 6px 12px #121120, inset 0px 0px 3px #202124; }
  .header .nav {
    padding: 15px 30px; }
    @media (max-width: 480px) {
      .header .nav {
        padding: 10px; } }
  .header h1 {
    text-align: left; }
    @media (max-width: 480px) {
      .header h1 {
        font-size: 16px; } }
  .header h3 {
    margin-top: 10px;
    font-weight: normal; }
    @media (max-width: 480px) {
      .header h3 {
        margin-top: 5px;
        font-size: 14px; } }
  .header .avartar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
    cursor: pointer; }
    .header .avartar img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 10px; }
      @media (max-width: 480px) {
        .header .avartar img {
          width: 50px;
          height: 50px; } }
    .header .avartar .name_user {
      margin-right: 30px;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (max-width: 480px) {
        .header .avartar .name_user {
          font-size: 16px;
          margin-right: 13px; } }
    .header .avartar .log_out {
      display: none;
      position: absolute;
      border: 2px solid white;
      border-radius: 10px;
      padding: 10px;
      top: 90%;
      left: 10%;
      cursor: pointer;
      font-size: 18px;
      z-index: 100; }
      @media (max-width: 480px) {
        .header .avartar .log_out {
          font-size: 10px;
          padding: 6px; } }
    .header .avartar:hover .log_out {
      display: block; }

.body {
  display: flex; }
  @media (max-width: 480px) {
    .body {
      padding: 5px; } }
  .body .container {
    width: 100%; }
    .body .container .chart #container_temp,
    .body .container .chart #container_light,
    .body .container .chart #container_humi,
    .body .container .chart #container_rain {
      box-shadow: -5px -5px 12px #232239, 6px 6px 12px #121120, inset 0px 0px 3px #202124;
      margin-bottom: 30px;
      border-radius: 20px; }
      @media (max-width: 480px) {
        .body .container .chart #container_temp,
        .body .container .chart #container_light,
        .body .container .chart #container_humi,
        .body .container .chart #container_rain {
          height: 280px; } }
    .body .container .chart .chart_header {
      padding: 20px 0; }
      @media (max-width: 480px) {
        .body .container .chart .chart_header {
          padding: 15px 0;
          font-size: 13px; } }
    .body .container .chart .chart_detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .body .container .chart .chart_detail .chart_content:nth-child(1) {
        margin-right: 40px;
        margin-bottom: 40px; }
        @media (max-width: 480px) {
          .body .container .chart .chart_detail .chart_content:nth-child(1) {
            margin: 0; } }
      .body .container .chart .chart_detail .chart_content:nth-child(2) {
        margin-bottom: 40px; }
        @media (max-width: 480px) {
          .body .container .chart .chart_detail .chart_content:nth-child(2) {
            margin: 20px 0; } }
      .body .container .chart .chart_detail .chart_content:nth-child(3) {
        margin-right: 40px; }
        @media (max-width: 480px) {
          .body .container .chart .chart_detail .chart_content:nth-child(3) {
            margin-right: 0;
            margin-bottom: 20px; } }
      .body .container .chart .chart_detail .chart_content {
        width: 45%;
        border-radius: 20px;
        height: 260px;
        border: 1px solid #26243f;
        box-shadow: 0px 0px 15px #232239; }
        @media (max-width: 480px) {
          .body .container .chart .chart_detail .chart_content {
            width: 100%; } }
    .body .container .device .device_header {
      padding: 20px 0; }
      @media (max-width: 480px) {
        .body .container .device .device_header {
          font-size: 13px;
          padding-bottom: 15px; } }
    .body .container .device .device_detail {
      display: flex; }
      @media (max-width: 480px) {
        .body .container .device .device_detail {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around; } }
      .body .container .device .device_detail .device_content.disabled i,
      .body .container .device .device_detail .device_content.disabled .light_control_icon_name {
        color: #ccc; }
      .body .container .device .device_detail .device_content:nth-child(2) {
        margin: 0 30px;
        background-image: linear-gradient(38.9deg, #00a4fa -40.63%, #006bf2 107.65%);
        box-shadow: 0px 0px 15px #00a4fa; }
        @media (max-width: 480px) {
          .body .container .device .device_detail .device_content:nth-child(2) {
            margin: 0;
            margin-right: 0;
            margin-bottom: 8px; } }
      .body .container .device .device_detail .device_content:nth-child(3) {
        margin-right: 30px;
        background-image: linear-gradient(149.51deg, #fa7d74 9.27%, #f94e39 88.14%);
        box-shadow: 0px 0px 15px #fa7d74; }
        @media (max-width: 480px) {
          .body .container .device .device_detail .device_content:nth-child(3) {
            margin: 0; } }
      .body .container .device .device_detail .device_content:nth-child(1) {
        background-image: linear-gradient(180deg, #33caba 0%, #2baa5d 100%);
        box-shadow: 0px 0px 15px #33caba; }
        @media (max-width: 480px) {
          .body .container .device .device_detail .device_content:nth-child(1) {
            margin: 0;
            margin-right: 0;
            margin-bottom: 8px; } }
      .body .container .device .device_detail .device_content:nth-child(4) {
        background-color: #7a40f2;
        box-shadow: 0px 0px 15px #7a40f2; }
      .body .container .device .device_detail .device_content {
        width: 25%;
        padding: 15px 20px;
        border: 1px solid transparent;
        border-radius: 20px; }
        @media (max-width: 480px) {
          .body .container .device .device_detail .device_content {
            width: 48%; } }
        @media (max-width: 480px) {
          .body .container .device .device_detail .device_content {
            padding: 10px 12px; } }
        .body .container .device .device_detail .device_content i {
          font-size: 30px;
          padding: 15px 0;
          color: #f2b90e; }
        .body .container .device .device_detail .device_content .light_control_state {
          /* Rounded sliders */
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .body .container .device .device_detail .device_content .light_control_state .switch {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 30px; }
          .body .container .device .device_detail .device_content .light_control_state .switch input {
            opacity: 0;
            width: 0;
            height: 0; }
          .body .container .device .device_detail .device_content .light_control_state .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            cursor: pointer; }
          .body .container .device .device_detail .device_content .light_control_state .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s; }
          .body .container .device .device_detail .device_content .light_control_state input:checked + .slider {
            background-color: #f2b90e; }
          .body .container .device .device_detail .device_content .light_control_state input:focus + .slider {
            box-shadow: 0 0 1px #2196F3; }
          .body .container .device .device_detail .device_content .light_control_state input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px); }
          .body .container .device .device_detail .device_content .light_control_state .slider.round {
            border-radius: 34px; }
          .body .container .device .device_detail .device_content .light_control_state .slider.round:before {
            border-radius: 50%; }
          .body .container .device .device_detail .device_content .light_control_state span {
            font-weight: bold;
            font-size: 20px;
            color: white; }
        .body .container .device .device_detail .device_content .light_control_icon_name {
          font-weight: bold;
          font-size: 16px;
          color: white; }

.banner {
  position: relative; }
  .banner img {
    width: 100%; }
  .banner .banner_description {
    position: absolute;
    top: 55%;
    left: 40px;
    width: 50%; }
    .banner .banner_description .banner_title {
      color: #bd5600; }
    .banner .banner_description .info {
      margin-top: 15px;
      display: flex;
      align-items: center; }
      .banner .banner_description .info span {
        padding: 0 10px; }
