// @include responsive;
// button design
@import 'mixin' ;
* {
    margin :  0 ; 
    padding : 0 ;
    box-sizing: border-box;
    user-select:none;
}
button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color:#121220;
    color : white ; 
}
h1 {
    text-align: center ;
}
html {
    font-family: 'Poppins',sans-serif;
}
.main {
    .toast-container {
        position: fixed;
        top: 100px;
        right: 40px;
        z-index: 1; 
        @include mobile {
            right: 20px;
        }
    }
    
    .toast {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding: 12px 15px;
        border-radius: 3px;
        box-shadow: 0 0 10px 5px #ccc;
        /* min-width: 300px; */
        width: 350px;
        background-color: white;
        transition: all linear 0.3s;
        @include mobile {
            width: 230px;
            padding : 8px ; 
        }
    }
    
    .toast+.toast {
        margin-top: 30px;
    }
    
    @keyframes slideInLeft {
        from {
            opacity: 0;
            transform: translateX(calc(100% + 40px));
        }
    
        to {
            opacity: 1;
            transform: 0;
        }
    }
    
    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
    
    .toast__content {
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 40px;
        @include mobile {
            padding: 0 ; 
        
        }
    }
    
    .toast__header {
        
        padding-bottom: 5px;
        color : black ; 
        @include mobile {
            font-size: 13px;
            padding-bottom: 2px;
        }
    }
    
    .toast__ders {
        color: #96979b;
        @include mobile {
            font-size: 12px;
        
        }
    }
    
    .toast__icon {
        font-size: 30px;
        @include mobile {
            font-size: 20px;
            padding-right: 8px;
        }
    }
    
    .toast__icon-close {
        color: #ccc;
        font-size: 25px;
        cursor: pointer;
        @include mobile {
            font-size: 20px;
            padding-right: 0px;
        }
    }
    
    /* toast--success */
    .toast--success {
        border-left: 5px solid rgb(45, 187, 45);
    }
    
    .toast__icon-success {
        color: rgb(45, 187, 45);
    }
    
    /* toast warn */
    
    .toast--warn {
        border-left: 5px solid orange;
    }
    
    .toast__icon-warn {
        color: orange;
    }
    
    /* toast__info */
    .toast--info {
        border-left: 5px solid #2f86eb;
    }
    
    .toast__icon-info {
        color: #2f86eb;
    }
    
}
.header{
    width: 100%;
    height: 70px ; 
    @include mobile {
        height: 50px;
    }

    background: #151423;
    position: fixed;
    border: 1px solid #26243F;
    box-sizing: border-box;
    box-shadow: -5px -5px 12px #ebeaff;
    z-index: 1 ; 
    h1 {
        color : rgb(235, 161, 25) ; 
        line-height: 70px;
        @include mobile {
            font-size: 20px;
            line-height: 50px;
        }
    }
}
.body {
    padding : 0px 100px 50px ;
    display: flex;
    @include mobile {
        padding : 5px ; 
    }
    .container {
        width: 100%;
        margin-top:70px ; 
        @include mobile {
            margin-top:40px;
        }
        .chart {
            // display: flex;
            #container_temp,
            #container_light,
            #container_humi,
            #container_rain {
                // height: 280px;
                // width: 485px;
                @include mobile {
                    height: 280px;
                }
                margin: 30px 0px;
                border-radius: 10px;
                border: 2px solid rgb(98, 54, 54);
            }
            .chart_header {
                padding : 20px 0;
                @include mobile {
                    
                    padding : 15px 0 ; 
                    font-size: 13px;
                }
            }
            .chart_detail {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .chart_content:nth-child(1) {
                    margin-right : 40px ;
                    margin-bottom: 40px; 
                    @include mobile {
                    
                        margin: 0;
                    }
                }
                .chart_content:nth-child(2) {
                    // margin-right : 40px ; 
                    margin-bottom: 40px;
                    @include mobile {
                    
                        margin: 20px 0 ; 
                    }
                     
                }
                .chart_content:nth-child(3) {
                    margin-right : 40px ; 
                    @include mobile {
                        margin-right : 0 ; 
                        margin-bottom: 20px ; 
                    }
                }
                .chart_content {
                    width: 45% ; 
                    
                    @include mobile {
                    
                        width: 100%;
                        // margin: 15px ;
                    }
                    // border: 2px solid #ccc;
                    border-radius: 20px  ;
                    height: 260px ; 
                    // margin : 20px 0 ; 
                    // box-shadow: 0px 6px 18px #d6d0bc;
                    border: 1px solid #26243F;
                    box-shadow: 0px 0px 15px #232239;
                }
            }
        }
        // device
        .device {
            
            .device_header {
                padding: 20px 0;
                @include mobile {
                    font-size: 13px;
                    padding-bottom: 15px;
                }
            }
        
            .device_detail {
                display: flex;
                @include mobile {
                    display: flex;
                    flex-direction: row ; 
                    flex-wrap: wrap;
                    justify-content:space-around;
                }
        
                .device_content.disabled {
        
                    i,
                    .light_control_icon_name {
                        color: #ccc;
                    }
                }
        
                .device_content:nth-child(2) {
                    margin: 0 30px;
                    background-image: linear-gradient(38.9deg, #00A4FA -40.63%, #006BF2 107.65%);
                    ;
                    box-shadow: 0px 0px 15px #00A4FA;
                    @include mobile {
                        margin: 0;
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                }
        
                .device_content:nth-child(3) {
                    margin-right: 30px;
                    background-image: linear-gradient(149.51deg, #FA7D74 9.27%, #F94E39 88.14%);
                    ;
                    box-shadow: 0px 0px 15px #FA7D74;
                    @include mobile {
                        margin : 0 ;  
                    }
                }
        
                .device_content:nth-child(1) {
                    background-image: linear-gradient(180deg, #33CABA 0%, #2BAA5D 100%);
                    box-shadow: 0px 0px 15px #33CABA;
                    // background: #151423;
                    @include mobile {
                        margin: 0;
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
        
                }
        
                .device_content:nth-child(4) {
        
                    background-color: #7A40F2;
                    box-shadow: 0px 0px 15px #7A40F2;
                }
        
                .device_content {
                    
                    width: 25%;
                    @include mobile {
                        width: 48%;
                       
                    }
                    // background-color: #fff;
                    padding: 15px 20px;
                    @include mobile {
                    
                        padding: 10px 12px;
                    }
                    border: 1px solid transparent;
                    border-radius: 20px;
        
                    i {
                        font-size: 30px;
                        padding: 15px 0;
                        color: #f2b90e;
                    }
        
                    .light_control_state {
                        @include button_design;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
        
                        span {
                            font-weight: bold;
                            font-size: 20px;
                            color: white;
                        }
                    }
        
                    .light_control_icon_name {
                        font-weight: bold;
                        font-size: 16px;
                        color: white;
        
                    }
                }
            }
        }
    
    }
}
.banner {
    
    position: relative;
    img {
        width: 100% ; 
    }
    .banner_description {
        position: absolute;
        top: 55% ; 
        left : 40px ; 
        width: 50% ;
        .banner_title {
            color: rgba(189, 86, 0, 1);
        }
        .info {
            margin-top: 15px;
            display: flex;
            align-items: center ; 
            span {
                padding : 0 10px ; 
            }
            
        }
    }
}

// end device



